/* ********* */
/* @RESET */
/* ********* */
*{
    
    margin: 0;
    padding: 0;
    list-style: none;
    
}
svg{

    width: 30px;
    height: 20px;
    padding-right: 6px;
}
//Resets para inputs/button etc